.button-actions-padding {
  margin-right: 10px;
}

.alinear-fila {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  margin-top: 30px;
  display: grid;
  place-items: center;
}

.spinner {
  width: 50px !important;
  height: 50px !important;
}
